nav {
    background-color: lightblue;
    font-size: 1.3em;
    text-align: center;
    padding: 1%;
}
nav a:hover{
    color: powderblue;
    background-color: white;
}
nav a{
    margin: 6% 1%;
    color: cornflowerblue;
}
body {
    background-color: cornflowerblue;
    color: lightblue;
}
img {
    margin: 2% 3%;
    border: 10px solid salmon;
}
p {
  font-size: 3ch;
  margin-top: 1%;
}
h1{
    font-size: 5ch;
    margin-top: 2%;
}